<!DOCTYPE html>
<style> 
.page-header {
    width: 100%;
    padding: 20px;
    background-color: #57aac4;
    margin: 0px auto;
}

body {
   padding: 0px;
}
</style>
    
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>PureCloud Edge Monitoring</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <!-- Custom styles for this site -->
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container" style="margin: 0px auto; padding: 0px; width: 100%;">
      
      <div class="page-header">
        <font color="#b5e2f1">
        <center><h2>EDGE Monitoring</h2></center>
        <center><p class="lead">The edges listed below belong to your PureCloud org.</p></center>
        </font>
      </div>
      </br>
      
      <!-- THIS IS WHERE EDGES SHOULD BE DISPLAYED -->
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col"><center>Status</center></th>
              <th scope="col">Monitoring</th>
            </tr>
          </thead>
            <tbody id="edges">
            </tbody>
        </table>
        <div id="loading">
          <center><img height=150 src="https://cdn.dribbble.com/users/1469628/screenshots/3274806/loader_holiday.gif"></img></center>
        </div>
      </div>
      </br></br>
    <font size=2>
    <p id="refreshDate"><center>Powered by / We did it all for the Cookies /</center></p>
    </font>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="https://sdk-cdn.mypurecloud.com/javascript/17.0.0/purecloud-platform-client-v2.min.js"></script>
    <!-- OUR CODE -->
    <script>


      // =============
      // AWS FUNCTIONS
      // =============
      var url = 'https://7k9jeqyad0.execute-api.eu-west-1.amazonaws.com/';
      var apiKey = "mkie6PMVHD1VutyKWVN7g7pYMqrFh4l42lhri8GT"; // Default for Tests for now "mkie6PMVHD1VutyKWVN7g7pYMqrFh4l42lhri8GT"
      var contentType = "application/json";
      var awsEnvironment = "dev"; // dev or uat (only dev works right now)

      var $edges = $('#edges');
      var customerName = "Genesys";
      var awsRules = undefined;
      
      // =============
      // Rewrite AWS Token from request URL
      // =============
      var url_string = window.location.href;
      var myurl = new URL(url_string);
      var sTokenFromRequest = myurl.searchParams.get("AWSToken");

      if (sTokenFromRequest) {
        // Found AWS Token, save it to Session 
        window.sessionStorage.accessToken = sTokenFromRequest;
      }
      
      // Always try to use AWS Token from Session
      if (window.sessionStorage.accessToken) {
        console.log('Used AWS Token from Session Storage');
        apiKey = window.sessionStorage.accessToken;
      }

      // GET RULES
      let getRules = function(customerName) {
        console.log('Getting all AWS rules from ' + customerName);
        return new Promise((resolve, reject) => {
          $.ajax({
              headers: {
                'x-api-key': apiKey,
                'Content-Type': contentType
              },
              type: 'GET',
              url: url + awsEnvironment + '/listrules?customerName=' + customerName,
              success: function(json) {
                resolve(json.Rules);
              },
              statusCode: {
                  404: function() {
                      reject('Could not find AWS service');
                  }
              }
          });
        });
      }
      
      // CHANGE RULE STATE
      let changeRuleState = function(edgeId, customerName, state) {
        return new Promise((resolve, reject) => {
          var options = {
            edgeId: edgeId,
            customerName: customerName,
            newStatus: state
          };
          $.ajax({
            headers: {
              'x-api-key': apiKey,
              'Content-Type': contentType
            },
            type: 'PATCH',
            url: url + awsEnvironment + '/rule',
            data: JSON.stringify(options),
            success: function(json) {
              resolve(json);
            },
            statusCode: {
              404: function() {
                  reject('Could not find AWS service');
              }
            }
          });
        });
      }
      
       // CREATE NEW RULE -- why envionment NOT WORKING ??
      let createRule = function(clientId, clientSecret, environment, edgeId, customerName, smtpTo) {
        return new Promise((resolve, reject) => {
          var options = {
            clientId: clientId,
            clientSecret:clientSecret,
            environment:environment,
            edgeId: edgeId,
            customerName: customerName,
            smtpTo: smtpTo
          };
          console.log('options:', options);
          $.ajax({
            headers: {
              'x-api-key': apiKey,
              'Content-Type': contentType
            },
            type: 'POST',
            url: url + awsEnvironment + '/rule',
            data: JSON.stringify(options),
            success: function(json) {
              resolve(json);
            },
            statusCode: {
              404: function() {
                  reject('Could not find AWS service');
              }
            }
          });
        });
      }

      /*
        createRule("a3f41e28-da17-4f23-aff7-140ced056039","SJ3oDumdnrBzvDgZ-dbthJSC9WDh0ZvXGB-UQtevGe4","mypurecloud.ie","d83c3e20-b26f-4d63-bf3e-17db3dffeb74","Genesys","daniel.szlaski@genesys.com").then((resp) => {
          console.log(resp);
              
        }).catch((error) => {
          console.log(error);
        });
        */

      //GET ALL RULES
      let getAllRules = function(customerName) {
        
      }

      // ===================
      // PureCloud FUNCTIONS
      // ===================
      
      // constants
      const pcPlatformClient = require('platformClient');
      const pcEnvironment = "mypurecloud.ie"
      const pcClientId = "9a60b361-aeb6-4f0a-bfb8-9433f1aac3de"
      const pcRedirectUri = "https://edge-monitoring-interface-pierrickl.c9users.io/"
      const pcClient = pcPlatformClient.ApiClient.instance;
      const pcDesiredOAuthName = "Postman API";
      const pcEgdeListPollingIntervalMs = 1200000; 
      
      // variables
      var pcUserEmail = '';
      var pcOrgName = '';
      var pcOAuthClientId = '';
      var pcOAuthClientSecret = '';
      var pcEdgeList = [];
      
      // PURE-CLOUD AUTHENTICATION
      pcClient.setEnvironment(pcEnvironment);
      pcClient.loginImplicitGrant(pcClientId, pcRedirectUri).then(function() {
        pcGetUserEmail();
        pcGetOrgName();
        pcGetOauthConfig();
        pcGetEdgeList().then(function() {
          // Get all rules (turn this into a promise)
          getRules(customerName).then((rules) => {
            console.log(rules);
            awsRules = rules;
            pcPrintEdgeStatuses();
            pcEdgeListPolling();
          }).catch((error) => {
            alert(error);
          });
        });  
      });
        
      // GET USER EMAIL
      let pcGetUserEmail = function() {
        return new Promise((resolve, reject) => {
          var api = new pcPlatformClient.UsersApi();
          api.getUsersMe().then(function(data) {
            pcUserEmail = data.email;
            console.log('User email: ' + pcUserEmail);
            resolve(pcUserEmail);
          }).catch(function(err) { 
            console.error(err); 
            reject(err);
          });
        });
      }
      
      // GET ORG NAME
      let pcGetOrgName = function() {
        return new Promise((resolve, reject) => {
          var api = new pcPlatformClient.OrganizationApi();
          api.getOrganizationsMe().then(function(data) {
            pcOrgName = data.name;
            console.log('Org name: ' + pcOrgName);
            customerName = pcOrgName;
            resolve(pcOrgName);
          }).catch(function(err) { 
            console.error(err); 
            reject(err);
          });
        });
      }
      
      // GET OAUTH CONFIG
      let pcGetOauthConfig = function() {
        return new Promise((resolve, reject) => {
          var api = new pcPlatformClient.OAuthApi();
          api.getOauthClients().then(function(data) {
            console.log('oAuth clients count: ' + data.entities.length);
            data.entities.forEach(function(item){
              if (item.name === pcDesiredOAuthName) {
                pcOAuthClientId = item.id;
                console.log('Found oAuth configuration: ' + item.name +  ', id: ' + pcOAuthClientId);
                // <getting secret>
                api.getOauthClient(pcOAuthClientId).then(function(data) {
                  pcOAuthClientSecret = data.secret;
                  console.log('Client secret: ' + pcOAuthClientSecret);
                  resolve("success");
                }).catch(function(err) { 
                  console.error(err); 
                  reject(err);
                });
                // </getting secret>
              }
            });
          }).catch(function(err) { 
            console.error(err); 
            reject(err);
          });
        });
      }

      // GET EDGE SERVERS
      let pcGetEdgeList = function() {
        return new Promise((resolve, reject) => {
          var options = { 
            'pageSize': 100, 
            'pageNumber': 1
          };
          var api = new pcPlatformClient.TelephonyProvidersEdgeApi();
          api.getTelephonyProvidersEdges(options).then(function(data) {
            pcEdgeList = data.entities;
            console.log('Edge list count: ' + pcEdgeList.length);
            console.log(pcEdgeList);
            resolve('success');
          }).catch(function(err) { 
            console.error(err); 
            reject(err);
          });
        });
      }    
      
      // START EDGE SERVERS POLLING
      let pcEdgeListPolling = function() {
        setTimeout( function() {
          pcGetEdgeList().then(function() {
            getRules(customerName).then((rules) => {
            console.log(rules);
            awsRules = rules;
              pcPrintEdgeStatuses();
              pcEdgeListPolling();
            });
          });  
        }, pcEgdeListPollingIntervalMs);
      }
      
      let displayEdgesOnGUI = function() {
        
        
          // If Rule is there + State is DISABLED = Blue Monitor button
          // If Rule is there + state is ENABLED = Red Stop Monitoring button
          // If no rule = Blue Monitor button
          
          $edges.empty();
          pcEdgeList.forEach(function(item){
            awsRuleEdgeName = customerName + "_" + item.id; // PureCloud-Poland_123432854723847324
            var edgeRule = $.grep(awsRules, function(rule) { return rule.Name == awsRuleEdgeName});
            if (edgeRule.length > 0) {
              console.log('Creating row for edge id:', item.id,' name:', item.name, 'Subscription State:', edgeRule[0].State);
              createEdgeRow(customerName, item.id, item.name, item.onlineStatus, edgeRule[0].State);
            } else {
              console.log('Creating row for edge id:', item.id,' name:', item.name);
              createEdgeRow(customerName, item.id, item.name, item.onlineStatus, undefined);
            }
          });
           $('#loading').hide();
      }

      let createEdgeRow = function(customerName, edgeId, edgeName, onlineStatus, subscriptionState) {
        
        var statusLabel = onlineStatus;
        switch(onlineStatus) {
          case 'ONLINE':
            //statusLabel = '<span style="color: green;">ON-LINE</span>'
            statusLabel = '<center><img height=20px width=20px src="http://www.clker.com/cliparts/q/j/I/0/8/d/green-circle-icon-th.png"></img></center>';
            break;
          case 'OFFLINE':
            //statusLabel = '<span style="color: red;">OFF-LINE</span>'
            statusLabel = '<center><img height=20px width=20px src="http://www.clker.com/cliparts/Q/P/0/f/1/p/glossy-red-icon-angle-th.png"></img></center>'
            break;
          default:
          statusLabel = '<span style="color: black;">' + statusLabel + '</span>'
        }
        
          switch(subscriptionState) {
            case "ENABLED":
              // STOP MONITORING
              console.log(subscriptionState);
              $edges.append('<tr id="tr_' + edgeId + '"><th scope="row"><i class="fa fa-server"></i> ' + edgeName + '</th><td id="state">' + statusLabel + '</td><td><button data-edgeid="' + edgeId + '" data-state="' + subscriptionState + '" data-customerName="' + customerName + '" type="button" class="btn btn-warning monitor" style="width:100px;"><i class="fa fa-stop"></i> Stop</button></td></tr>');        
              break;
            default:
              // MONITOR
              $edges.append('<tr id="tr_' + edgeId + '"><th scope="row"><i class="fa fa-server"></i> ' + edgeName + '</th><td id="state">' + statusLabel + '</td><td><button data-edgeid="' + edgeId + '" data-state="' + subscriptionState + '" data-customerName="' + customerName + '" class="btn btn-primary monitor" style="width:100px;"><i class="fa fa-play"></i> Start</button></td></tr>');        
          }
      }

      // PRINT EDGE STATUSES IN THE CONSOLE
      let pcPrintEdgeStatuses = function() {
        var report = '\r\nEDGE ONLINE STATUSES REPORT: ' + Date();
        report += '\r\n'.padEnd(100, '-');
        report += '\r\n' + 'Edge id'.padEnd(50) + '|Edge name'.padEnd(25) + ' |Online status';
        report += '\r\n'.padEnd(100, '-');
        pcEdgeList.forEach(function(item){
          report += '\r\n' + item.id.padEnd(50) + '|' + item.name.padEnd(25) + '|' + item.onlineStatus;
        });
        displayEdgesOnGUI();

        console.log(report);
      }

      // ==
      // UI
      // ==
      
      // MONITOR BUTTON
      $edges.delegate('.monitor', 'click', function() { // Using delegate() because when this code runs, the "Monitor" buttons don't exist yet
        console.log('Monitor clicked');
        var edgeId = $(this).attr('data-edgeid');
        var state = $(this).attr('data-state');
        console.log('state:', state);
        switch(state) {
          case "ENABLED": 
            console.log('Set state to DISABLED');
            changeRuleState(edgeId, customerName, "DISABLED").then((data) => {
              // Refresh Edge Status in table + change "Stop Monitoring" button to "Monitor"
              $('#tr_' + edgeId).find(".monitor").html('<i class="fa fa-play"></i> Start').attr('class', 'btn btn-primary monitor').attr('data-state', 'DISABLED');
            }).catch((error) => {
              alert(error);
            });
            
            break;
          case "DISABLED":
            console.log('Set state to ENABLED');
            changeRuleState(edgeId, customerName, "ENABLED").then((data) => {
              // Refresh Edge Status in table + change "Monitor" button to "Stop Monitoring"
              $('#tr_' + edgeId).find(".monitor").html('<i class="fa fa-stop"></i> Stop').attr('class', 'btn btn-warning monitor').attr('data-state', 'ENABLED');
            }).catch((error) => {
              alert(error);
            });
            break;
          default:
            // Create new rule
            createRule(pcOAuthClientId, pcOAuthClientSecret, pcEnvironment, edgeId, pcOrgName, pcUserEmail).then((data) => {
              console.log('create rule:', data);
               $('#tr_' + edgeId).find(".monitor").html('<i class="fa fa-stop"></i> Stop').attr('class', 'btn btn-warning monitor').attr('data-state', 'ENABLED');
            }).catch((error) => {
              alert(error);
            });
            break;
        }
      });
    </script>
  </body>
</html>
